<table class="table table-hover table-condensed ">
<thead>
  <tr><th colspan="4"><h4>{{standingsTable.season}} Constructors Championship Standings</h4>
  <h5>Round {{standingsTable.StandingsLists[0].round}}</h5></th></tr>
  <tr><th>Position</th><th>Constructor</th><th>Points</th><th>Wins</th><th>Link</th>
</thead>
<tbody>
  <tr ng-repeat="constructors in constructorsList | filter: searchFilter">

    <td>{{constructors.position}}</td>
    <td>
      <img src="img/flags/{{constructors.Constructor.nationality}}.png" />
      <a href="#/{{standingsTable.season}}/constructor/{{constructors.Constructor.constructorId}}">
        &nbsp;&nbsp;{{constructors.Constructor.name}}
      </a>
    </td>
    <td>{{constructors.points}}</td>
    <td>{{constructors.wins}}</td>  
    <td><a href='{{constructors.Constructor.url}}'>Wikipedia</a></td>  
      
  </tr>
</tbody>
</table>