<div ng-include src="'partials/nav.html'"></div>
<div class="container">
<table class="table table-hover table-condensed ">
<thead>
  <tr><th colspan="4"><h3>{{standingsTable.season}} Drivers Championship Standings</h3>
  <h5>Round {{standingsTable.StandingsLists[0].round}}</h5></th></tr>
  <tr><th>Position</th><th>Driver</th><th>Constructor</th><th>Points</th>
</thead>
<tbody>

  <tr ng-repeat="driver in driversList | filter: searchFilter">
    <td>{{$index + 1}}</td>
    <td>
      <img src="img/flags/{{driver.Driver.nationality}}.png" />&nbsp;&nbsp;
      <a href="#/{{standingsTable.season}}/drivers/{{driver.Driver.driverId}}">
	  	  {{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}
	    </a>
	</td>
    <td>
       <a href="#/{{standingsTable.season}}/constructor/{{driver.Constructors[0].constructorId}}">
        {{driver.Constructors[0].name}}
      </a>
    </td>
    <td>{{driver.points}}</td>
  </tr>
</tbody>
</table>
</div>